#Learned new technique from here
# NOTE: for the future -> x is important : to tell docker this is not a service
# https://stackoverflow.com/a/48651071
x-common-env: &common-env
  FLASK_APP: app.py
  FLASK_ENV: development
  POSTGRES_URI: ${DATABASE_URL}
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  POSTGRES_DB: iot_db
  STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
  STRIPE_WEBHOOK_SECRET: ${STRIPE_WEBHOOK_SECRET}
  OPENWEATHER_API_KEY: ${OPENWEATHER_API_KEY}
  INFLUXDB_URL: ${INFLUXDB_URL}
  INFLUXDB_TOKEN: ${INFLUXDB_TOKEN}
  INFLUXDB_ORG: ${INFLUXDB_ORG}
  INFLUXDB_BUCKET: ${INFLUXDB_BUCKET}
  INFLUXDB_MEASUREMENT: ${INFLUXDB_MEASUREMENT}
  SEND_EMAIL_USERNAME: ${SEND_EMAIL_USERNAME}
  SEND_EMAIL_PASSWORD: ${SEND_EMAIL_PASSWORD}
  MISTRAL_API_KEY: ${MISTRAL_API_KEY}
  FLOWER_UNAUTHENTICATED_API: true
  SERVER_API_URL: ${SERVER_API_URL}
  FRONTEND_URL: ${FRONTEND_URL}

services:
  web:
    build: ./backend
    ports:
      - "5000:5000"
      - "8000:8000"
      - "5001:5000"
      # - "5000:5000"
      - "5678:5678"
    environment:
      *common-env
      # - FLASK_APP=app.py
      # - FLASK_ENV=development
      # - POSTGRES_URI=postgresql://postgres:postgres@db:5432/iot_db
      # - POSTGRES_USER=postgres
      # - POSTGRES_PASSWORD=postgres
      # - POSTGRES_DB=iot_db
      # - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
      # - STRIPE_WEBHOOK_SECRET=${STRIPE_WEBHOOK_SECRET}
      # - OPENWEATHER_API_KEY=${OPENWEATHER_API_KEY}
      # - INFLUXDB_URL=${INFLUXDB_URL}
      # - INFLUXDB_TOKEN=${INFLUXDB_TOKEN}
      # - INFLUXDB_ORG=${INFLUXDB_ORG}
      # - INFLUXDB_BUCKET=${INFLUXDB_BUCKET}
      # - INFLUXDB_MEASUREMENT=${INFLUXDB_MEASUREMENT}
      # - SEND_EMAIL_USERNAME=${SEND_EMAIL_USERNAME}
      # - SEND_EMAIL_PASSWORD=${SEND_EMAIL_PASSWORD}
      # - MISTRAL_API_KEY=${MISTRAL_API_KEY}
    depends_on:
      # - db
      - redis
    volumes:
      - ./backend:/usr/src/app

  db:
    image: postgres:latest
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=iot_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 30s
      timeout: 10s
      retries: 5
    command: >
      postgres
      -c shared_buffers=64MB
      -c max_connections=20
      -c effective_cache_size=128MB

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    command:
      [
        "redis-server",
        "--maxmemory",
        "32mb",
        "--maxmemory-policy",
        "allkeys-lru",
      ]

  adminer:
    image: adminer
    ports:
      - "8180:8080"
    # depends_on:
    # - db
    environment:
      - ADMINER_DESIGN_DB=iot_db
      - ADMINER_DEFAULT_SYSTEM=pgsql
      - ADMINER_DESIGN_USER=postgres
      - ADMINER_DESIGN_PASSWORD=postgres

  worker:
    build:
      context: ./backend
      dockerfile: Dockerfile.celery
    command: celery -A make_celery worker -l info -E --concurrency=2 --max-tasks-per-child=50
    depends_on:
      - redis
    volumes: ["./backend:/queue"]
    environment:
      *common-env
      # - FLASK_APP=app.py
      # - FLASK_ENV=development
      # - POSTGRES_URI=postgresql://postgres:postgres@db:5432/iot_db
      # - POSTGRES_USER=postgres
      # - POSTGRES_PASSWORD=postgres
      # - POSTGRES_DB=iot_db
      # - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
      # - STRIPE_WEBHOOK_SECRET=${STRIPE_WEBHOOK_SECRET}
      # - OPENWEATHER_API_KEY=${OPENWEATHER_API_KEY}
      # - INFLUXDB_URL=${INFLUXDB_URL}
      # - INFLUXDB_TOKEN=${INFLUXDB_TOKEN}
      # - INFLUXDB_ORG=${INFLUXDB_ORG}
      # - INFLUXDB_BUCKET=${INFLUXDB_BUCKET}
      # - INFLUXDB_MEASUREMENT=${INFLUXDB_MEASUREMENT}
      # - SEND_EMAIL_USERNAME=${SEND_EMAIL_USERNAME}
      # - SEND_EMAIL_PASSWORD=${SEND_EMAIL_PASSWORD}
      # - MISTRAL_API_KEY=${MISTRAL_API_KEY}
      #
  flower:
    build:
      context: ./backend
      dockerfile: Dockerfile.celery
    command: celery -A make_celery flower --port=5555
    depends_on:
      - redis
      - worker
    ports:
      - "5555:5555"
    volumes:
      - ./backend:/queue
    env_file:
      - .env
  website:
    container_name: front
    stdin_open: true
    build:
      context: ./website
      dockerfile: Dockerfile.prod
    environment:
      - NODE_ENV=production
      - SERVER_API_URL=${SERVER_API_URL}
      - FRONTEND_URL=${FRONTEND_URL}
      #      - REACT_APP_API_URL= ${API_URL}
      #      - REACT_APP_STATIC_URL=${STATIC_URL}
      #      - REACT_APP_API_TOKEN= ${API_TOKEN}
      #      - REACT_APP_AZUREAD_APPLICATION_ID= ${AZUREAD_APPLICATION_ID}
      #      - REACT_APP_AZUREAD_BaseUri= ${AZUREAD_BASE_URI}
    ports:
      - "5173:80"
    volumes:
      - ./website:/usr/src/app
      - node_modules:/usr/src/app/node_modules
volumes:
  db_data:
  redis_data:
  node_modules:
