version: '3.8'

services:
  web:
    build: ./backend
    ports:
      - "127.0.0.1:5000:5000"
      - "8000:8000"
      - "5001:5001"
      # - "5000:5000"
      - "5678:5678"
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=development
      - POSTGRES_URI=postgresql://postgres:postgres@db:5432/iot_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=iot_db
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
      - STRIPE_WEBHOOK_SECRET=${STRIPE_WEBHOOK_SECRET}
    depends_on:
      - db
    volumes:
      - ./backend:/usr/src/app

  db:
    image: postgres:latest
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=iot_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    ports:
      - "8180:8080"
    depends_on:
      - db

volumes:
  db_data: