name: Backend CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  Frontendwebsite-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Dependencies
        run: |
          cd website
          npm install

      - name: Cypress Run
        uses: cypress-io/github-action@v6
        with:
          working-directory: website
          wait-on: 'https://sent-io.site'
          wait-on-timeout: 120
          config: |
            baseUrl=https://sent-io.site
            defaultCommandTimeout=10000
            pageLoadTimeout=30000
            requestTimeout=10000
            responseTimeout=30000
            taskTimeout=60000
            execTimeout=60000
          # env:
            # CYPRESS_COMMAND_TIMEOUT: '10000'
            # CYPRESS_PAGE_LOAD_TIMEOUT: '30000'
            # CYPRESS_REQUEST_TIMEOUT: '10000'
            # CYPRESS_RESPONSE_TIMEOUT: '30000'

      - name: Upload Screenshots
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: cypress-screenshots
          path: website/cypress/screenshots

  # backend-test:
  #   runs-on: ubuntu-latest
  #   services:
  #     postgres:
  #       image: postgres:latest
  #       env:
  #         POSTGRES_USER: postgres
  #         POSTGRES_PASSWORD: postgres
  #         POSTGRES_DB: iot_db
  #       ports:
  #         - 5432:5432
  #       options: >-
  #         --health-cmd "pg_isready -U postgres"
  #         --health-interval 10s
  #         --health-timeout 5s
  #         --health-retries 5
  #   steps:
  #     - uses: actions/checkout@v4

  #     - name: Set up Python
  #       uses: actions/setup-python@v5
  #       with:
  #         python-version: '3.13'

  #     - name: Install dependencies
  #       run: |
  #         cd backend
  #         pip install -r requirements.txt
          
  #     - name: Run tests
  #       run: |
  #         cd backend
  #         pytest tests

  deploy:
    runs-on: ubuntu-latest
    needs: [Frontendwebsite-test]
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            if [ ! -d "~/HETIC-IOT-FINAL" ]; then
              git clone https://github.com/<TON_USER>/<TON_REPO>.git ~/HETIC-IOT-FINAL
            fi
            cd ~/HETIC-IOT-FINAL
            git fetch origin main
            git reset --hard origin/main
            docker compose down
            docker compose up -d --build